{% extends 'layout.html' %}
{% block title %}About{% endblock %}
{% block body %}
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit aliquid suscipit tenetur numquam, expedita cupiditate, culpa veritatis fuga totam error id voluptatibus distinctio dicta esse facere quos officia reiciendis nemo!</p>
    <p>Nullam porttitor enim elit, id convallis sem luctus quis. Suspendisse potenti. Fusce fringilla risus nulla, eu lobortis lacus consequat et. Vestibulum vitae elit fermentum, imperdiet libero eu, maximus urna. Proin quis lorem sapien. Suspendisse pulvinar sed erat in fringilla. Proin rutrum facilisis interdum. Maecenas ligula enim, lacinia sed varius eu, scelerisque at odio. Nunc vel elit vitae augue faucibus tincidunt. Vivamus pulvinar lobortis bibendum.</p>
{% endblock %}