{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block body %}
    <div class="jumbotron text-center">
        <h1>Welcome to Flask App</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet minus praesentium aliquam in inventore, atque culpa ratione expedita! Suscipit eligendi magnam aliquid asperiores necessitatibus itaque repellat id minima debitis enim. Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic delectus atque cum beatae omnis. Neque obcaecati perspiciatis distinctio tenetur eveniet iste, dolorem magnam excepturi ea illo voluptates eius maxime nisi.</p>
    </div>
{% endblock %}